################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TrelloAPI/.vs/TrelloAPI
/TrelloAPI/TrelloAPI/Configs/Example.cs
/TrelloAPI/TrelloAPI/obj/Debug/net6.0
/.gitignore
